

#nav {
    background-color: #4c3224;
    text-align: right;
    height: 35px;
    padding: 10px;
    margin: -10px;
    
}
#nav a {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin-top: -5px;
    
   
}


#Containerbox {
 max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

}
.box {
    border: solid #4c3224;
    padding: 20px ;
    margin: 10px 25px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 3px;
}
#fr {
display: flex;
justify-content: left;
align-items: center;

}
body {
    background-color: #cbbdb0;
    
}
a h1 {
    text-align: left;
}
.Moreinfo {
    display: block;
    background-color: #5f715f;
    width: 100%;
    font-size: 14px;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    height: 15px;
    padding: 10px 0;
    border-radius: 2px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
}
a {
    padding-top: 10px;
}
